[build-system]
requires = ["setuptools", "wheel", "numpy", "Cython>=0.29.21"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["regularizepsf"]

[project]
name = "regularizepsf"
version = "0.3.6"
requires-python = ">3.10"
description = "Point spread function modeling and regularization"
dependencies = [
      "numpy",
      "dill",
      "h5py",
      "lmfit",
      "sep-pjw",
      "cython",
      "astropy",
      "scipy",
      "scikit-image",
      "matplotlib",
      "setuptools"
]
readme = "README.md"
license = {file = "LICENSE"}

[project.optional-dependencies]
test = [
     "pytest",
     "pytest-cov",
     "hypothesis",
     "coverage",
     "ruff",
     "pytest-mpl",
]
docs = [
    "sphinx",
    "pydata-sphinx-theme",
    "sphinx-autoapi"
]

dev = ["regularizepsf[test, docs]", "pre-commit"]


[tool.ruff]
exclude = ['tests/*']
line-length = 120

#[tool.ruff.lint]
#select = ["NPY201"]

[tool.isort]
balanced_wrapping = true
default_section = "THIRDPARTY"
include_trailing_comma = true
known_compatibility = "future"
known_first_party = "regularizepsf"
length_sort = false
length_sort_sections = "stdlib"
line_length = 120
multi_line_output = 3
no_lines_before = "LOCALFOLDER"
sections = "FUTURE, COMPATIBILITY, STDLIB, THIRDPARTY, FIRSTPARTY, LOCALFOLDER"

[tool.cibuildwheel]
# Disable building PyPy wheels on all platforms
skip = "pp*"
